@font-face {
  font-family:"PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family:"PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0px;
  background-color: #F2F2F2;;
}
button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
ul, ol {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*header*/
.navigation-link {
  font-size:20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.button-search {
  background-image: url("../images/search-icon.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  width:44px;
  height:66px;
  border: none;
}

.button-like {
  background-image: url("../images/like-icon.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  width:44px;
  height:66px;
  border: none;
}

.button-wish {
  background-color: #756157;
  color:#FFFFFF;
  font-size: 16px;
  line-height: 20px;
  appearance: none;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
  border:none;
  border-radius: 4px;
}

/*/header*/
/*index-main*/
.main-header-images {
  margin:auto;
  width: 1200px;
  height: 485px;
  background-image:url("../images/welcome-divider.svg"), url("../images/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: 100% auto, cover;
  background-color: #5F80A3;
}

.welcome-graphic {
  display: block;
  margin:auto;
  padding-top: 51px;
  /*margin-top: auto;
  margin-bottom: auto; почему не работает ?
  Почему отступы через padding?*/
}

.slogan-text, .offer-header, .mailing-header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.introduction-text, .offer-text, .mailing-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.full-width-advantage-header {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantage-header {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.full-width-advantage-text {
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

.advantage-text {
  font-weight: 400;
  text-align: center;
  color: #333333;
}

li.advantage:nth-child(2n) {
  background-color: #f0f6fa;
}

li.advantage:nth-child(3) {
  background-color:#e6f0f6
}

.housing {
  background-image: url(../images/advantage-living.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.food {
  background-image: url(../images/advantage-food.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.souvenirs {
  background-image: url(../images/advantage-souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}
/*/index-main*/
/* oofer-mailing*/
.offer-link {
  display: block;
  background-color: #756157;
  color:#FFFFFF;
  font-size: 20px;
  line-height: 36px;
  appearance: none;
  text-decoration: none;
  width: 376px;
  height: 52px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.mailing-index {
  background-image: url("../images/mailing-background.jpg");
  background-repeat: no-repeat;
  background-color: #5A6F82;
  background-position: center;
  background-size: cover;
}

.mailing {
  width: 1200px;
  height: 415px;
  margin: auto;
}
.white-text-mailing {
  color: #FFFFFF;
}

.button-subscribe {
  background-color: #82B3D3;
  color: #FFFFFF;
  border: none;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
/*/oofer-mailing*/
/*footer*/
.vk-link {
  display: block;
  width: 47px;
  height: 40px;
  background-image: url("../images/VK-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tg-link {
  display: block;
  width: 47px;
  height: 40px;
  background-image: url("../images/TG-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube-link {
  display: block;
  width: 47px;
  height: 40px;
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/*/footer*/
/*catalog-main*/

.search-menu {
  color: #FFFFFF;
  background: url("../images/search-menu-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #5F80A3;
  margin: 0px;
  padding: 70px;
  padding-top: 35px;
}

.search-menu-header {
  font-size: 60px;
  line-height: 78px;
  margin: 0px;
}

.home-link {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url(../images/to-home-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fake-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.fieldset-header {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.infrostucture-option, .housing-option {
  font-weight: 400;
  line-height: 23px;
}

.apply-button, .reset-button {
  border:none;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  border-radius: 4px;
}

.apply-button {
  background-color: #82B3D3;
  margin-bottom: 32px;
}
.reset-button {
  background-color: transparent;/*можно ли в rgba формате написать, если во всем файле в формате #xxxxxx ? */
}

.number-of-variants {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

select {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.display-button-1 {
  background-image: url(../images/display-option-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  background-color: transparent;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  padding: 0px;
}

.display-button-2 {
  background-image: url(../images/display-option-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  width: 48px;
  height: 48px;
  padding: 0px;
}

.display-button-3 {
  background-image: url(../images/display-option-3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  width: 48px;
  height: 48px;
  padding: 0px;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
}

.hotel-text, .price {
  font-weight: 400;
}

.more-info {
  display: block;
  width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.to-favorite {
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
}

.in-favorite {
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:#7DB54F;
  border: none;
}

.star-rating {
  width: 90px;
  height: 37px;
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  background-position: center;
}

.number-rating {
  display: block;
  width: 140px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}
.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
}

li:first-child .pagination-link {
  background-color: #F2F2F2;
  color:#000000;
}
/*/catalog-main*/
/*sticky-footer*/
.body-container {
  min-height: 100%;
  display: grid;
  width: 1200px;
  grid-template-rows: auto 1fr auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.navigation {
  display:flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.logo {
  margin-left: 70px;
  margin-right: 30px;
  margin-bottom: -6px;
}
.logo-main {
  z-index: 1;
}

.navigation-user {
  margin: 0px;
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.navigation-list {
  margin: 0px;
  margin-right:auto;
  display: flex;
  align-items: center;
}

 .navigation-item {
  padding-left: 16px;
  padding-right: 16px;
 }

 .navigation-user-item:last-child{
  padding-left:20px;
 }

 .advantages-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
 }

 .advantage {
  width: 400px;
  height: 384px;
 }

 .full-width-advantage {
  background-color: #82B3D3;
  padding: 0px;
  margin: 0px;
  display: flex;
 }

  .sedona-photo, .canyon-photo {
    flex-grow: 1;
  }

  footer {
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 73px;
    align-items: center;
    justify-content: space-between;
  }

  .social-networks {
    display: flex;
    margin: 0px;
    padding: 0px;
  }

  .search-options {
    display: flex;
    align-items:flex-start;
    justify-content:
  }

  .fieldset {
    margin: 0px;
    padding: 0px;
    padding-top: 32px;
    border: none;
  }

  .fieldset-header {
    padding: 0px;
  }

  input {
    margin: 0px;
  }

  .infrostructure-options {
    margin-right: 70px;
  }
  .infrostructure-options, .type-of-housing {
    width: 150px;
  }

  .buttons {
    margin-left: 70px;
    align-self: flex-end;
    width: 191px;
  }

  .infrostucture-option:not(:last-child), .housing-option:not(:last-child) {
    margin-bottom: 16px;
  }

  .cost {
    width: 288px;
    margin-left: auto;
  }

  .search-results {
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .search-results-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .number-of-variants {
    margin: 0px;
    margin-right: auto;
  }

  select {
    margin: 0px;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: 2px solid #E5E5E5;
    border-radius:4px;
    height: 49px;
    width: 292px;
  }

  option {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  .display-options {
    display: flex;
    margin-left: 70px;
  }

  .display-button-1, .display-button-2 {
    margin-right: 8px;
  }

  .pagination {
    display: flex;
  }
  .pagination li:not(:last-child) {
    margin-right: 8px;
  }

  .pagination-dots {
    display: flex;
    width: 60px;
    height: 60px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
  }
